# --- MQTT Constants --- #
ipUp=localhost
portUp=1883

ip=localhost
port=1883

user=karaf
pass=karaf

deviceAPIAddress=http://localhost:8181/cxf/iot-service/devices

# --- Gateway Constants --- #
timeoutInSeconds=40

# --- Gateway Tasks Constants --- #
sendTopKRequestTaskTime=60

# --- Real Score Constant --- #
hasCollectRealScoreService=false

# --- Debug Constant --- #
debugModeValue=true